@import url('../../styles/constants.css');

.contact {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.contact__info {
    display: flex;
    flex-direction: column;
    width: 330px;
    align-items: center;
    justify-content: space-evenly;
}

.contact__title {
    font-size: 30px;
    font-weight: 500;
    color: var(--dark-color);
}

.contact__point {
    font-weight: 400;
    font-size: 24px;
    margin-left: 13px;
    color: var(--dark-color);
}

.contact__block {
    margin-top: 24px;  
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__social {
    display: flex;
    width: 150px;
    justify-content: space-between;
    margin-top: 33px;
    align-items: center;
}

.contact__maps__frame {
    width: 800px;
    height: 600px;
    border-radius: 16px;
}

.social__icon:hover {
    -webkit-filter: sepia(1) hue-rotate(150000deg) saturate(10);
    filter: sepia(1) hue-rotate(150000deg) saturate(10);
}

@media screen and (max-width: 1200px) {
    .contact__maps__frame {
        width: 600px;
        height: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .contact__maps {
        margin-top: 100px;
    }
    
}

@media screen and (max-width: 650px) {
    .contact {
        align-items: center;
        justify-content: center;
    }

    .contact__maps__frame {
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width: 445px) {
    .contact {
        align-items: center;
        justify-content: center;
    }

    .contact__maps__frame {
        width: 300px;
        height: 300px;
    }

    .contact__info {
        transform: scale(0.87);
    }
}