.login__container {
    position: relative;
}

.container__suggestion {
    top: -22px;
    right: -155px;
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: #1A141F;
    background: #FFFFFF;
    border: 1px solid rgba(106, 23, 171, 0.2);
    border-radius: 16px;
    padding: 5px 10px;
    position: absolute;
    max-width: 172px;
    width: 155px;
}