@import url('../../styles/constants.css');

.heading {
    color: var(--dark-color);
    font-size: 40px;
    text-align: center;
    overflow-x: hidden;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
    align-items: flex-start;
    padding: 5px 5%;
    overflow-x: hidden;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    width: 100%;
}

.container .main-video {
    background-color: var(--white-color);
    border-radius: 5px;
}

.container .main-video iframe {
    border-radius: 5px;
    height: 700px;
}

.container .main-video .title {
    color: var(--dark-color);
    font-size: 23px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.container .video-list {
    background-color: var(--white-color);
    border-radius: 5px;
    height: 520px;
    overflow-y: scroll;
    width: 100%;
}

.container .video-list::-webkit-scrollbar {
    width: 7px;
}

.container .video-list::-webkit-scrollbar-track {
    background: #ccc;
    border-radius: 50px;
}

.container .video-list::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 50px;
}

.container .video-list .vid iframe {
    width: 100px;
    border-radius: 5px;
}

.container .video-list .vid {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--transparent-purple-color);
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(0,0,0,.1);
    cursor: pointer;
}

.container .video-list .vid h3 {
    color: var(--dark-color);
}

.container .video-list .vid:hover {
    background: #eee;
}

.container .video-list .vid.active {
    background: var(--dark-purple-color);
}

.container .video-list .vid.active .title {
    color: #fff;
}

.container .video-list .vid .title {
    color: #333;
    font-size: 20px;
}


.video__button {
    width: 300px;
}

@media screen and (max-width: 1225px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .video-list {
        width: 600px;
    }

    .container .main-video iframe {
        height: 400px;
        width: 800px;
    }
}

@media screen and (max-width: 950px) {
    .container .main-video iframe  {
        width: 500px;
    }
}

@media screen and (max-width: 606px) {
    .container .main-video iframe  {
        width: 400px;
    }
}

@media screen and (max-width: 415px) {
    .container .main-video iframe  {
        width: 250px;
        height: 200px;
    }
}

.video-list iframe {
    display: none;
}