@import '../../styles/constants.css';
.group {
    display: flex;
    align-items: center;
    gap: 0 6px;
    margin: 20px 0 12px 0;
}

.border {
    width: 100px;
    height: 0;
    border: 1px solid var(--dark-color);
}

.text {
    font-weight: 500;
    font-size: 44px;
    line-height: 132%;
    text-align: center;
    color: var(--dark-color);
}