:root {
    --body_background: white;
    --text_color: black;
    /*Colors*/
    --dark-color: #1A141F;
    --white-color: #ffffff;
    --transparent-purple-color: rgba(106, 23, 171, 0.2);
    --very-light-purple-color: #AE60EB;
    --light-purple-color: #9D3FE7;
    --dark-purple-color: #6A17AB;
    --light-gray-color: #ABA7AF;
    --white-gray-color: #E5E0EB;
    --red-color: #D51A52;
    --orange-color: #FF9500;
    --green-color: #00B998;
    --blue-color: #0F0BAB;

    /*Borders*/
    --small-radius: 4px;

    /*Transition*/
    --transition: all .25s linear;
}

[data-theme="dark"] {
    --body_background: #282c34;
    --text_color: white;
}