@import "fonts.css";
@import "constants.css";

*, *::after, *::before {
    margin: 0;
    padding: 0;
    outline: none;
    background: none;
    background-color: none;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    text-decoration: none;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::selection {
    background-color: var(--very-light-purple-color);
}

button, a {
    cursor: pointer;
}

#root {
    height: 100vh;
}

body {
    width: 100%;
    background-color: var(--white-color);
}

span {
    color: var(--dark-color);
}

#id {
    background-color: var(--white-color);
}

#header {
    z-index: 3;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: var(--light-gray-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--graphite-color);
    border-radius: 19px;
    border: 3px solid var(--light-gray-color);
}

::-webkit-scrollbar-thumb:hover {
    border: 2px solid var(--light-gray-color);
}