@import '../../styles/constants.css';

.btn {
    padding: 12px 52px;
    background-color: var(--light-purple-color);
    border: none;
    border-radius: var(--small-radius);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--white-gray-color);
    transition: var(--transition);
    width: 100%;
    height: 48px;
}

.btn:hover {
    background: var(--very-light-purple-color);
}

.btn:active {
    background: var(--dark-purple-color);
    transform: scale(0.98, 0.98);
}