@import '../../../styles/constants.css';

.link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-color);
}
