@import '../../styles/constants.css';

.header {
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid var(--dark-color);
    padding: 25px 7.5%;
    position: relative;
    background-color: var(--white-color);
}

.wrapper {
    width: 1200px;
    max-width: 1200px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.burger__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media screen and (min-width: 900px) {
    .burger__container {
        display: none;
    }
}

.header__group {
    display: flex;
    align-items: center;
}