@import '../../styles/constants.css';

.input {
    padding: 12px;
    width: 306px;
    border: 1px solid var(--white-gray-color);
    border-radius: var(--small-radius);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #141f16;
    transition: var(--transition);
    position: relative;
    z-index: 1;
    box-sizing: content-box;
}

.column {
    position: relative;
    margin-top: 16px;
}

.input:focus {
    border: 1px solid var(--light-purple-color);
    z-index: -1;
}

.input:focus ~ .labelForInput,
.input:valid ~ .labelForInput {
    top: -8px;
    font-size: 12px;
    z-index: 1;
}

.labelForInput {
    color: var(--light-gray-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    position: absolute;
    top: 14px;
    left: 14px;
    padding: 0 3px;
    text-align: center;
    transition: var(--transition);
    cursor: text;
    background-color: var(--white-color);
}