@import '../../styles/constants.css';

.textWithLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: var(--light-gray-always-color);
    margin-top: 28px;
}

.textWithLink__link {
    color: var(--dark-color);
    transition: var(--transition);
}

.textWithLink__link:hover {
    opacity: 0.85;
}