@import '../../../styles/constants.css';

.container{
    display: flex;
    align-items: center;
    gap: 16px;
    position: relative;
}

.text {
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 24px;
    color: var(--dark-color);
}

.icon {
    width: 25px;
    height: 25px;
    background-image: var(--user-icon);
    cursor: pointer;
}   

.exit {
    width: 25px;
    height: 25px;
    background-image: var(--exit-icon);
    cursor: pointer;
}

@media screen and (max-width: 1050px) {
    .container {
        display: none;
    }
}