@import '../../../styles/constants.css';

.container {
    position: relative;
    display: flex;
    justify-content: center;
}

.container__suggestion {
    top: -22px;
    right: -155px;
    font-weight: 400;
    font-size: 16px;
    line-height: 132%;
    color: var(--dark-color);
    border: 1px solid var(--transparent-purple-color);
    border-radius: var(--medium-radius);
    padding: 5px 10px;
    position: absolute;
    max-width: 172px;
    width: 165px;
}

.image {
    width: 214px;
    height: 197px;
    background-image: var(--cookie-image);
}

@media screen and (max-width: 545px)
{
    .container__suggestion {
        max-width: 130px;
        width: 130px;
        right: -95px;
        top: -40px;
    }
}

@media screen and (max-width: 410px) {
    .container__suggestion {
        max-width: 90px;
        width: 90px;
        right: -80px
    }
}