.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 7.5%;
}

.wrapper {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.title {
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 40px;
    letter-spacing: -0.02em;
    text-align: center;
    margin-bottom: 20px;
}

.text {
    max-width: 700px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.button_container {
    display: flex;
    align-items: center;
}

.picture {
    width: 256px;
    height: 409,6px;
}

@media screen and (max-width: 550px) {
    .button_container {
        flex-direction: column-reverse;
    }
}

