@import '../../../styles/constants.css';

.nav {
    width: 45%;
    max-width: 460px;
    display: flex;
    align-items: center;
}

@keyframes border {
    to {
        border-bottom: 2px solid var(--light-purple-color);
    }
}

.highlight {
    position: relative;
    bottom: -6px;
    border-bottom: 4px solid var(--very-light-purple-color);
    transform: scale(0.9);
}

@media screen and (max-width: 1050px) {
    .nav {
        display: none;
    }
}