@import '../../../styles/constants.css';

.nav {
    width: 45%;
    max-width: 460px;
    height: calc(100% + 50px);
    display: flex;
    align-items: center;
}

.highlight {
    border-bottom: 2px solid var(--light-purple-color);
}

@media screen and (max-width: 900px) {
    .nav {
        display: none;
    }
}