@import '../../styles/constants.css';

.about {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    animation: appearing_animation 1s ease;
    flex-direction: column;
}

.about__wrapper {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    flex-direction: column; 
}

.title {
    font-size: 35px;
    font-weight: 500;
    color: var(--dark-color);
}

.text {
    font-size: 25px;
    text-align: center;
    max-width: 550px;
    margin-top: 40px;
    color: var(--dark-color);
}

.button {
    width: 500px;
    margin-top: 40px;
}

@media screen and (max-width: 506px) {
    .text {
        max-width: 400px;
    }

    .button {
        width: 300px;
    }
}

@keyframes appearing_animation {
    0% {
        opacity: 0;
        margin-top: 70px;
    } 100% {
        opacity: 1;
        margin-bottom: 70px;
    }
}

