@import '../../styles/constants.css';

.error {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.error__main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.error__value {
    font-weight: 700;
    font-size: 295px;
    color: var(--light-purple-color);
    line-height: 295px;
}

.error__text {
    font-weight: 500;
    font-size: 30px;
    color: var(--dark-color);
    text-align: center;
}

.error__description{
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-color);
    margin-top: 16px;
    text-align: center;
}

.error__border{
    width: 90px;
    height: 0;
    border: 1px solid var(--blue-color);
    margin-top: 12px;
}

.error__btn {
    width: 330px;
    margin-top: 25px;
}

@media screen and (max-width: 800px) {
    .error__value {
        font-size: 200px;
        line-height: 200px;
    }

    .error__description {
        margin-top: 8px;
    }
    
    .error__btn {
        margin-top: 17px;
    }
}

@media screen and (max-width: 610px) {
    .error__description {
        max-width: 500px;
        padding: 0 5px;
    }
}

@media screen and (max-width: 382px) {
    .error {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 352px) {
    .error {
        transform: scale(0.8);
    }
}