@import '../../styles/constants.css';

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.error__value {
    font-weight: 700;
    font-size: 295px;
    color: var(--light-purple-color);
    line-height: 295px;
}

.error__text {
    font-weight: 500;
    font-size: 30px;
    color: var(--dark-color);
}

.error__description{
    font-weight: 400;
    font-size: 18px;
    color: var(--dark-color);
    margin-top: 16px;
}

.error__border{
    width: 90px;
    height: 0;
    border: 1px solid var(--blue-color);
    margin-top: 12px;
}

.error__btn {
    width: 330px;
    margin-top: 25px;
}