@import "../../styles/constants.css";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    animation: appear 2s ease
}

@media screen and (max-width: 420px)
{
    .container {
        transform: scale(0.9);
    }
}

@media screen and (max-width: 390px)
{
    .container {
        transform: scale(0.85);
    }
}

@media screen and (max-width: 370px)
{
    .container {
        transform: scale(0.77);
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    } 100% {
        opacity: 1;
    }
}

.wrapper {
    width: 332px;
    max-width: 332px;
    overflow: hidden;
}

.column {
    gap: 11px;
    display: flex;
    flex-direction: column;
}

.errorEmail {
    display: none;
}

.errorPassword {
    display: none;
}

.column__error {
    margin-top: -11px;
    color: var(--red-color);
    font-size: 13px;
}