@import url('../../styles/constants.css');

.cources {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}

.cources__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    height: 70%;
    width: 1000px;
    margin-bottom: 150px;
    margin-top: 20px;
}

.cource__block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--dark-purple-color);
    height: 350px;
    border-radius: 25px;
}

.cource__block span {
    font-size: 25px;
    color: var(--dark-color);
}

.cource__block img {
    width: 244px;
    height: 247px;
    background-color: none;
}

.course__input {
    border: 1px solid gray;
    width: 500px;
    height: 80px;
    border-radius: 50px;
    font-size: 30px;
    border: 1px solid var(--dark-purple-color);
    padding-left: 30px;
    color: var(--dark-color);
}

@media screen and (max-width: 1275px) {
    .cources__wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 30px;
        height: 70%;
        width: 1000px;
    }   
}

@media screen and (max-width: 1000px) {
    .cources__wrapper {
        grid-template-columns: repeat(1, 1fr);
        max-width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .cources__wrapper {
        max-width: 300px;
    }

    .course__input {
        width: 300px;
        height: 50px;
        font-size: 15px;
    }
}