@import '../../styles/constants.css';

.btn {
    padding: 12px 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 48px;
    border: 1px solid var(--light-purple-color);
    border-radius: var(--small-radius);
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--light-purple-color);
    transition: var(--transition);
    gap: 0 15px;
    margin-top: 16px;
}

.btn__icon {
    fill: var(--light-purple-color);
    transition: var(--transition);
}

.btn:hover {
    color: var(--very-light-purple-color);
    border: 1px solid var(--very-light-purple-color);
}

.btn:active {
    color: var(--dark-purple-color);
    border: 1px solid var(--dark-purple-color);
    transform: scale(0.98, 0.98);
}

.btn:hover .btn__icon {
    fill: var(--very-light-purple-color);
}

.btn:active  .btn__icon {
    fill: var(--dark-purple-color);
    transform: scale(0.98, 0.98);
}