@import '../../../styles/constants.css';

.container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.image {
    width: 50px;
    height: 50px;
    background-color: var(--dark-purple-color);
    border-radius: 100%;
}

.text {
    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    color: var(--dark-color);
}

@media screen and (max-width: 1050px) {
    .container {
        display: none;
        order: 2;
    }
}